@mixin stylecard {
  -webkit-box-shadow: 2px 2px 8px 0.5px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 2px 2px 8px 0.5px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 2px 8px 0.5px rgba(0, 0, 0, 0.57);
  transition: all 500ms;
  &:hover {
    -webkit-box-shadow: 5px 5px 17px 1px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 5px 5px 17px 1px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 5px 17px 1px rgba(0, 0, 0, 0.57);
  }
  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__button {
    color: #fff;
    background: #0d6efd;
    transition: all 500ms;

    &:hover {
      background: #0d6dfdc7;
    }
  }
}
