<div class="container content-home">
  <h1 class="content-home__title text-center mb-4">Charactes</h1>
  <div class="d-flex flex-wrap justify-content-evenly">
    <app-card
      *ngFor="let character of response"
      class="mb-4"
      [character]="character"
      (detailsSelect)="details($event)"
    ></app-card>
    <app-modal [dataCharacter]="characterDetails"> </app-modal>
  </div>
  <mat-paginator
    [length]="info.pages"
    [pageSize]="1"
    [pageIndex]="actualPage"
    [showFirstLastButtons]="true"
    [hidePageSize]="true"
    (page)="pageSelected($event)"
    class="paginator d-flex justify-content-evenly"
  >
  </mat-paginator>
</div>
